INST462

In [34]:
import pandas as pd
import numpy as np

In [38]:
ae = pd.read_csv('AE_Nodes_Public_Version2.csv')
bali1 = pd.read_csv('Bali1_Nodes_Public_Version2.csv')
bali2 = pd.read_csv('Bali2_Nodes_Public_Version2.csv')
ce = pd.read_csv('CE_Nodes_Public_Version2.csv')
#e = pd.read_csv('Greeks_Nodes_Public_Version2.csv')
ham = pd.read_csv('Hamburg_Nodes_Public_Version2.csv')
#g = pd.read_csv('Jakarta 2009_Nodes_Public.csv')
mad = pd.read_csv('Madrid_Nodes_Public_Version2.csv')
par = pd.read_csv('PAR_Nodes_Public_Version2.csv')
sea = pd.read_csv('SEA_Nodes_Public_Version2.csv')
viv = pd.read_csv('Vivace_Nodes_Public_Version2.csv')
a1 = pd.read_csv('AE_Relations_Public_Version2.csv')
b1 = pd.read_csv('Bali1_Relations_Public_Version2.csv')
c1 = pd.read_csv('Bali2_Relations_Public_Version2.csv')
d1 = pd.read_csv('CE_Relations_Public_Version2.csv')
f1 = pd.read_csv('Hamburg_Relations_Public_Version2.csv')
h1 = pd.read_csv('Madrid_Relations_Public_Version2.csv')
i1 = pd.read_csv('PAR_Relations_Public_Version2.csv')
j1 = pd.read_csv('SEA_Relations_Public_Version2.csv')
k1 = pd.read_csv('Vivace_Relations_Public_Version2.csv')

In [39]:
ae["Dataset Number"] = 1
ae["Dataset"] = "Australian Embassy Bombing 2004, Indonesia"
ae["Label"] = "AE"
ae["Country"] = "Indonesia"
ae["City"] = np.nan
ae

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,177,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
1,577,NaN,red,NaN,NaN,9/9/04,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
2,598,NaN,red,1/?/2006,4/?/2008,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
3,800,NaN,red,NaN,NaN,4/29/06,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
4,801,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
5,802,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
6,1504,NaN,red,11/5/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
7,1506,NaN,red,6/?/2005,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
8,1507,NaN,red,9/16/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
9,1509,NaN,red,7/?/2005,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
10,1530,NaN,red,11/5/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
11,1534,NaN,red,9/?/2004,?/?/2007,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
12,1541,NaN,red,10/?/2004,12/?/2006,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
13,1553,NaN,red,7/13/04,12/?/2006,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
14,1555,NaN,red,6/30/04,?/?/2011,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
15,1556,NaN,red,7/27/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
16,1558,NaN,red,11/5/04,?/?/2014,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
17,1561,NaN,red,7/?/2004,3/?/2007,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
18,1562,NaN,red,6/?/2005,?/?/2012,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
19,1563,NaN,red,6/30/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
20,1570,NaN,red,8/?/2004,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
21,1574,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
22,1579,NaN,red,NaN,NaN,11/9/05,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
23,1580,NaN,red,NaN,NaN,4/29/06,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
24,1582,NaN,red,7/2/05,?/?/2012,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
25,1590,NaN,red,11/5/04,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
26,1595,NaN,red,7/26/04,3/?/2007,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN

In [40]:
bali1["Dataset Number"] = 2
bali1["Dataset"] = "Bali bombings 2002, Indonesia"
bali1["Label"] = "Bali 2002"
bali1["Country"] = "Indonesia"
bali1["City"] = "Bali"
bali1

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,151,NaN,Red,10/?/2002,6/14/06,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
1,153,NaN,Red,?/?/2003,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
2,155,NaN,Red,12/?/2002,NaN,11/8/08,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
3,160,NaN,Red,11/21/02,NaN,11/8/08,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
4,162,NaN,Red,11/6/02,NaN,11/8/08,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
5,163,NaN,Red,1/13/03,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
6,175,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
7,176,NaN,Red,4/22/03,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
8,177,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
9,180,NaN,Red,9/27/02,3/?/2005,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
10,183,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
11,189,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
12,524,NaN,Red,NaN,NaN,10/12/02,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
13,588,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
14,590,NaN,Red,12/3/02,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
15,650,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
16,1503,NaN,Red,11/19/02,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
17,1512,NaN,Red,11/26/02,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
18,1513,NaN,Red,11/29/02,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
19,1529,NaN,Red,5/7/03,?/?/2006,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
20,1532,NaN,Red,12/4/02,NaN,3/2/06,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
21,1549,NaN,Red,4/22/03,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
22,1564,NaN,Red,1/13/03,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
23,1576,NaN,Red,NaN,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
24,1579,NaN,Red,NaN,NaN,11/9/05,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
25,1594,NaN,Red,11/21/02,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali
26,1597,NaN,Red,6/?/2003,NaN,NaN,2,2,2,"Bali bombings 2002, Indonesia",Bali 2002,Indonesia,Bali

In [41]:
bali2["Dataset Number"] = 3
bali2["Dataset"] = "Bali bombings 2005, Indonesia"
bali2["Label"] = "Bali 2005"
bali2["Country"] = "Indonesia"
bali2["City"] = "Bali"
bali2

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,177,NaN,Red,,NaN,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
1,594,NaN,Red,11/17/05,8/17/08,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
2,595,NaN,Red,11/18/05,1/24/10,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
3,596,NaN,Red,11/17/05,5/17/09,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
4,800,NaN,Red,NaN,NaN,4/29/06,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
5,810,NaN,Red,11/10/05,9/1/14,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
6,812,NaN,Red,1/13/06,1/13/12,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
7,814,NaN,Red,1/13/03,NaN,11/9/05,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
8,815,NaN,Red,11/1/05,11/1/20,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
9,816,NaN,Red,1/13/06,1/13/12,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
10,817,NaN,Red,1/19/06,1/19/18,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
11,819,NaN,Red,11/23/05,11/23/14,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
12,820,NaN,Red,1/18/06,1/25/06,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
13,824,NaN,Red,1/1/06,11/29/11,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
14,828,NaN,Red,1/13/06,11/29/16,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
15,829,NaN,Red,NaN,NaN,10/1/05,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
16,830,NaN,Red,NaN,NaN,10/1/05,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
17,831,NaN,Red,NaN,NaN,10/1/05,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
18,834,NaN,Red,1/13/06,11/1/12,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
19,835,NaN,Red,1/18/06,,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
20,838,NaN,Red,1/1/06,11/29/16,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
21,839,NaN,Red,11/9/05,9/7/24,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
22,840,NaN,Red,NaN,NaN,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
23,841,NaN,Red,NaN,NaN,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
24,1579,NaN,Red,NaN,NaN,11/9/05,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
25,1580,NaN,Red,NaN,NaN,4/29/06,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali
26,1605,NaN,Red,NaN,NaN,NaN,2,2,3,"Bali bombings 2005, Indonesia",Bali 2005,Indonesia,Bali

In [42]:
ce["Dataset Number"] = 4
ce["Dataset"] = "Christmas Eve bombings 2000, Indonesia"
ce["Label"] = "CE"
ce["Country"] = "Indonesia"
ce["City"] = np.nan
ce

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,151,NaN,Red,10/?/2002,6/14/06,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
1,153,NaN,Red,?/?/2003,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
2,155,NaN,Red,12/?/2002,NaN,11/8/08,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
3,160,NaN,Red,11/21/02,NaN,11/8/08,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
4,162,NaN,Red,11/6/02,NaN,11/8/08,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
5,163,NaN,Red,1/13/03,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
6,164,NaN,Red,12/9/01,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
7,176,NaN,Red,4/22/03,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
8,180,NaN,Red,9/27/02,3/?/2005,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
9,183,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
10,189,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
11,193,NaN,Red,8/?/2001,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
12,365,NaN,Red,4/27/03,8/?/2007,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
13,368,NaN,Red,12/?/2001,5/?/2006,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
14,373,NaN,Red,12/?/2001,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
15,376,NaN,Red,12/?/2001,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
16,538,NaN,Red,NaN,NaN,?/?/2000,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
17,539,NaN,Red,?/?/2002,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
18,540,NaN,Red,6/?2005,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
19,542,NaN,Red,5/22/03,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
20,543,NaN,Red,NaN,NaN,?/?/2000,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
21,544,NaN,Red,NaN,NaN,?/?/2000,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
22,545,NaN,Red,NaN,NaN,?/?/2000,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
23,546,NaN,Red,NaN,NaN,?/?/2002,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
24,589,NaN,Red,?/?/2002,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
25,650,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
26,1502,NaN,Red,1/21/03,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
27,1508,NaN,Red,1/?/2001,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
28,1517,NaN,Red,5/?/2003,?/?/2006,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
29,1518,NaN,Red,?/?/2001,6/?/2006,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
30,1521,NaN,Red,6/12/03,?/?/2007,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
31,1527,NaN,Red,1/16/01,?/?/2005,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
32,1546,NaN,Red,1/13/01,?/?/2005,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
33,1559,NaN,Red,6/?/2003,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
34,1564,NaN,Red,1/13/03,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
35,1565,NaN,Red,2/16/04,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
36,1566,NaN,Red,?/?/2001,?/?/2004,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
37,1568,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
38,1573,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
39,1576,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
40,1577,NaN,Red,11/25/02,1/15/07,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
41,1579,NaN,Red,NaN,NaN,11/9/05,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
42,1588,NaN,Red,1/?/2001,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
43,1597,NaN,Red,6/?/2003,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN
44,2360,NaN,Red,NaN,NaN,NaN,2,2,4,"Christmas Eve bombings 2000, Indonesia",CE,Indonesia,NaN

In [43]:
ham["Dataset Number"] = 5
ham["Dataset"] = "The Hamburg 9/11 Cell 2001, Germany"
ham["Label"] = "HAM 9/11"
ham["Country"] = "Germany"
ham["City"] = "Hamburg"
ham

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,1012,NaN,NaN,2001,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
1,57,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
2,58,NaN,NaN,2005,2005,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
3,1032,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
4,1036,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
5,54,NaN,NaN,11/?/2001,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
6,61,NaN,NaN,10/10/02,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
7,60,NaN,NaN,11/?/2001,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
8,1014,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
9,1030,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
10,63,NaN,NaN,NaN,NaN,9/11/01,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
11,1037,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
12,1035,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
13,1033,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
14,1026,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
15,59,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
16,64,NaN,NaN,9/?/2002,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
17,650,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
18,1011,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
19,65,NaN,NaN,NaN,NaN,9/11/01,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
20,1015,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
21,1034,NaN,NaN,7/?/2002,7/?/2002,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
22,62,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
23,66,NaN,NaN,NaN,NaN,9/11/01,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
24,1016,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
25,1017,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
26,1038,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
27,1039,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
28,1040,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
29,1031,NaN,NaN,2003,2005,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
30,1025,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
31,1041,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
32,1005,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg
33,1042,NaN,NaN,NaN,NaN,NaN,2,2,5,"The Hamburg 9/11 Cell 2001, Germany",HAM 9/11,Germany,Hamburg

In [44]:
mad["Dataset Number"] = 6
mad["Dataset"] = "Madrid Train Bombings 2004, Spain"
mad["Label"] = "MAD"
mad["Country"] = "Spain"
mad["City"] = np.nan
mad

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,3100,NaN,Blue,11/13/01,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
1,3101,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
2,3104,NaN,Blue,11/6/03,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
3,3106,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
4,318,NaN,Blue,11/?/2001,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
5,3132,NaN,Blue,NaN,NaN,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
6,3133,NaN,Blue,12/7/05,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
7,3134,NaN,Blue,3/30/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
8,3135,NaN,Blue,3/13/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
9,3136,NaN,Blue,5/?/2003,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
10,3137,NaN,Blue,5/?/2003,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
11,3138,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
12,3139,NaN,Blue,4/2/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
13,3140,NaN,Blue,6/8/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
14,3141,NaN,Blue,4/1/97,6/29/02,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
15,3142,NaN,Blue,11/3/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
16,3143,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
17,3144,NaN,Blue,?/?/2000,?/?/2003,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
18,3145,NaN,Blue,NaN,NaN,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
19,3146,NaN,Blue,4/7/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
20,3147,NaN,Blue,NaN,NaN,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
21,3148,NaN,Blue,NaN,NaN,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
22,3149,NaN,Blue,NaN,NaN,4/3/04,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
23,3150,NaN,Blue,3/18/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
24,3151,NaN,Blue,12/2/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
25,3152,NaN,Blue,3/24/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
26,3153,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
27,3154,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
28,3155,NaN,Blue,1/12/06,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
29,3156,NaN,Blue,3/?/2005,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
30,3157,NaN,Blue,3/?/2005,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
31,3158,NaN,Blue,2/1/05,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
32,3159,NaN,Blue,2/1/05,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
33,3160,NaN,Blue,2/1/05,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
34,3161,NaN,Blue,5/?/2005,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
35,3162,NaN,Blue,8/16/05,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
36,3163,NaN,Blue,3/30/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
37,3164,NaN,Blue,4/2/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
38,3165,NaN,Blue,5/21/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
39,3166,NaN,Blue,5/6/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
40,3167,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
41,3168,NaN,Blue,6/10/04,12/15/04,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
42,3169,NaN,Blue,6/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
43,3170,NaN,Blue,6/11/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
44,3171,NaN,Blue,6/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
45,3172,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
46,3173,NaN,Blue,7/1/04,2/15/05,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
47,3174,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
48,3176,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
49,3177,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
50,3178,NaN,Blue,?/?/2004,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
51,3179,NaN,Blue,NaN,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
52,3180,NaN,Blue,4/6/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN
53,3181,NaN,Blue,6/14/04,NaN,NaN,2,2,6,"Madrid Train Bombings 2004, Spain",MAD,Spain,NaN

In [45]:
par["Dataset Number"] = 7
par["Dataset"] = "Philippines Ambassador Residence Bombing 2000, Jakarta"
par["Label"] = "PAR"
par["Country"] = "Indonesia"
par["City"] = "Jakarta"
par

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,151,NaN,Red,10/?/2002,6/14/06,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
1,153,NaN,Red,?/?/2003,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
2,155,NaN,Red,12/?/2002,NaN,11/8/08,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
3,159,NaN,Red,1/?/2002,NaN,?/?/2003,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
4,162,NaN,Red,11/6/02,NaN,11/8/08,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
5,163,NaN,Red,1/13/03,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
6,183,NaN,Red,NaN,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
7,189,NaN,Red,NaN,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
8,193,NaN,Red,8/?/2001,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
9,368,NaN,Red,12/?/2001,5/?/2006,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
10,587,NaN,Red,NaN,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
11,650,NaN,Red,NaN,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
12,1502,NaN,Red,1/21/03,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
13,1549,NaN,Red,4/22/03,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
14,1564,NaN,Red,1/13/03,NaN,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta
15,1567,NaN,Red,10/?/2002,11/?/2004,NaN,2,2,7,"Philippines Ambassador Residence Bombing 2000,...",PAR,Indonesia,Jakarta

In [46]:
sea["Dataset Number"] = 8
sea["Dataset"] = "Southeast Asian Aggregate Attack Series 2005, Indonesia"
sea["Label"] = "SEA"
sea["Country"] = "Indonesia"
sea["City"] = np.nan
sea

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,151,NaN,red,10/?/2002,6/14/06,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
1,153,NaN,red,?/?/2003,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
2,155,NaN,red,12/?/2002,NaN,11/8/08,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
3,159,NaN,red,1/?/2002,NaN,?/?/2003,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
4,160,NaN,red,11/21/02,NaN,11/8/08,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
5,162,NaN,red,11/6/02,NaN,11/8/08,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
6,163,NaN,red,1/13/03,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
7,164,NaN,red,12/9/01,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
8,175,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
9,176,NaN,red,4/22/03,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
10,177,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
11,180,NaN,red,9/27/02,3/?/2005,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
12,183,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
13,189,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
14,193,NaN,red,8/?/2001,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
15,365,NaN,red,4/27/03,8/?/2007,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
16,368,NaN,red,12/?/2001,5/?/2006,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
17,373,NaN,red,12/?/2001,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
18,376,NaN,red,12/?/2001,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
19,524,NaN,red,NaN,NaN,10/12/02,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
20,538,NaN,red,NaN,NaN,?/?/2000,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
21,539,NaN,red,?/?/2002,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
22,540,NaN,red,6/?2005,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
23,542,NaN,red,5/22/03,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
24,543,NaN,red,NaN,NaN,?/?/2000,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
25,544,NaN,red,NaN,NaN,?/?/2000,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
26,545,NaN,red,NaN,NaN,?/?/2000,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
27,546,NaN,red,NaN,NaN,?/?/2002,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
28,577,NaN,red,NaN,NaN,9/9/04,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
29,587,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,1546,NaN,red,1/13/01,?/?/2005,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
79,1549,NaN,red,4/22/03,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
80,1553,NaN,red,7/13/04,12/?/2006,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
81,1555,NaN,red,6/30/04,?/?/2011,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
82,1556,NaN,red,7/27/04,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
83,1558,NaN,red,11/5/04,?/?/2014,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
84,1559,NaN,red,6/?/2003,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
85,1561,NaN,red,7/?/2004,3/?/2007,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
86,1562,NaN,red,6/?/2005,?/?/2012,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
87,1563,NaN,red,6/30/04,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
88,1564,NaN,red,1/13/03,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
89,1565,NaN,red,2/16/04,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
90,1566,NaN,red,?/?/2001,?/?/2004,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
91,1567,NaN,red,10/?/2002,11/?/2004,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
92,1568,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
93,1570,NaN,red,8/?/2004,,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
94,1573,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
95,1574,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
96,1576,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
97,1577,NaN,red,11/25/02,1/15/07,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
98,1579,NaN,red,NaN,NaN,11/9/05,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
99,1580,NaN,red,NaN,NaN,4/29/06,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
100,1582,NaN,red,7/2/05,?/?/2012,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
101,1588,NaN,red,1/?/2001,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
102,1590,NaN,red,11/5/04,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
103,1594,NaN,red,11/21/02,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
104,1595,NaN,red,7/26/04,3/?/2007,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
105,1597,NaN,red,6/?/2003,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
106,1605,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN
107,2360,NaN,red,NaN,NaN,NaN,2,2,8,"Southeast Asian Aggregate Attack Series 2005, ...",SEA,Indonesia,NaN

In [47]:
viv["Dataset Number"] = 9
viv["Dataset"] = "Vivace Bombing Cell 7/21/2005, London"
viv["Label"] = "VIV"
viv["Country"] = "United Kingdom"
viv["City"] = "London"
viv

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,3000,1,Orange,7/27/05,NaN,NaN,2,2,9,"Vivace Bombing Cell 7/21/2005, London",VIV,United Kingdom,London
1,3001,1,Orange,?/?/2005,NaN,NaN,2,2,9,"Vivace Bombing Cell 7/21/2005, London",VIV,United Kingdom,London
2,3002,1,Orange,?/?/2005,NaN,NaN,2,2,9,"Vivace Bombing Cell 7/21/2005, London",VIV,United Kingdom,London
3,3003,1,Orange,?/?/2005,NaN,NaN,2,2,9,"Vivace Bombing Cell 7/21/2005, London",VIV,United Kingdom,London
4,3004,1,Orange,7/29/05,NaN,NaN,2,2,9,"Vivace Bombing Cell 7/21/2005, London",VIV,United Kingdom,London

In [48]:
all_nodes = pd.concat([ae,bali1,bali2,ce,ham,mad,par,sea,viv],sort=False)

In [49]:
all_nodes.head()

,ID,Group,Color,Arrest_Date,Release_Date,Death_Date,1985_1989,1990_1994,Dataset Number,Dataset,Label,Country,City
0,177,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
1,577,NaN,red,NaN,NaN,9/9/04,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
2,598,NaN,red,1/?/2006,4/?/2008,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
3,800,NaN,red,NaN,NaN,4/29/06,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN
4,801,NaN,red,NaN,NaN,NaN,2,2,1,"Australian Embassy Bombing 2004, Indonesia",AE,Indonesia,NaN

In [50]:
all_nodes.to_csv('all_nodes.csv')

In [52]:
all_relations = pd.concat([a1,b1,c1,d1,f1,h1,i1,j1,k1],sort=False)
all_relations.head()

,Operation_ID,Op_role,ID,Tie_ID,Tie_Year,Tie_Extinguish,Kinship,1985_1989,1990_1994
0,43,NaN,177,577,2004,2004,0.0,NaN,NaN
1,43,NaN,177,800,2004,2006,0.0,NaN,NaN
2,43,NaN,177,1504,2003,2004,0.0,NaN,NaN
3,43,NaN,177,1507,2004,2004,0.0,NaN,NaN
4,43,NaN,177,1509,2004,2005,0.0,NaN,NaN

In [53]:
all_relations.to_csv('all_relations.csv')